:root {
  --text: #222;
  --text-50: #22222288;
  --background: #fff;
  --background-50: #ffffff88;
  --shadow: rgba(0, 0, 0, 0.25);
  --blue: rgb(69, 189, 236);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  color: var(--text);

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
}

nav {
  position: fixed;
  top: 0;
  width: 100%;

  background: var(--text-50);
  backdrop-filter: blur(6px);

  /* height: 4rem; */
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: var(--background);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  padding: 1rem;
  transition: background 0.25s ease, color 0.25s ease;
}

nav ul li a.active,
nav ul li a:hover {
  background: var(--background-50);
}

img.hero {
  display: block;
  width: 100%;
  height: 500px;
  object-fit: cover;

  transition: height 0.25s ease;
}

.choose {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  margin: 0 2rem;
  padding: 1rem;
  border-radius: 1rem;
  transform: translateY(-50%);
  box-shadow: 0 0 2px 0 var(--shadow), 0 2px 2px 0 var(--shadow);

  transition: transform 0.25s ease, margin 0.25s ease;
}

div.hasResults img.hero {
  height: 0;
}

div.hasResults .choose {
  margin-top: 4rem;
  transform: none;
}

.choose > * {
  margin-right: 0.25rem;
  /* font-size: 2rem; */
}

.choose select {
  padding: 2px;
  width: 130px;
  text-align:center;
  border-radius: 3px;
}

.choose button {
  margin: 0;
  align-self: flex-end;
  width: 100px;
  background: rgba(100, 100, 100, 0.4);
  border-radius: 3px;
  padding: 0.5rem 1rem;
  color: var(--background);
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 600;
  cursor: pointer;
}

div.results {
  display: grid;
  margin: 0 2rem;
  grid-gap: 1rem;
}

div.result {
  display: grid;
  grid-template-columns: minmax(100px, 2fr) 5fr 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  /* justify-content: center; */
  /* align-items: center; */

  overflow: hidden;
}

div.result img {
  width: 100%;
  max-height: 100%;
}

div.result button {
  grid-column: 1 / -1;
  background: var(--text);
  color: var(--background);
  font-size: 0.8rem;
  padding: 0.5rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
  cursor: pointer;
}
